@media (max-width: 1023.98px) {
  .burger {
    display: block;
    position: relative;
    width: 36px;
    height: 28px;
    outline: none;
    z-index: 200;
  }

  .burger__line {
    display: inline-block;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--color-white);
  }

  .burger__line:first-child {
    top: 0;
  }

  .burger__line:nth-child(2) {
    top: 45%;
  }

  .burger__line:last-child {
    bottom: 0;
  }
  .burger[aria-expanded='true'] .burger__line:first-child {
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
  }

  .burger[aria-expanded='true'] .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger[aria-expanded='true'] .burger__line:last-child {
    bottom: 50%;
    transform: rotate(-45deg) translateY(50%);
  }

  .burger__line {
    transition:
      transform 0.3s ease-in-out,
      top 0.3s,
      bottom 0.3s,
      opacity 0.3s;
  }

  .nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 80%;
    max-width: 400px;
    height: 100dvh;
    padding: 60px 16px;
    background-color: var(--color-black);
    /* z-index: 100; */
    visibility: hidden;
    translate: -100% 0;
    transition:
      visibility 0.3s ease-in-out,
      translate 0.3s ease-in-out;
  }

  .nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    z-index: 100;
  }

  .nav--visible::before {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .nav--visible {
    visibility: visible;
    translate: 0;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}
