@media (max-width: 1023.98px) {
  a,
  button,
  .soundtrack__progress {
    -webkit-tap-highlight-color: transparent;
  }

  .burger {
    display: block;
    position: relative;
    width: 36px;
    height: 28px;
    outline: none;
    z-index: 200;
  }

  .burger__line {
    display: inline-block;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--color-white);
  }

  .burger__line:first-child {
    top: 0;
  }

  .burger__line:nth-child(2) {
    top: 45%;
  }

  .burger__line:last-child {
    bottom: 0;
  }
  .burger[aria-expanded='true'] .burger__line:first-child {
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
  }

  .burger[aria-expanded='true'] .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger[aria-expanded='true'] .burger__line:last-child {
    bottom: 50%;
    transform: rotate(-45deg) translateY(50%);
  }

  .burger__line {
    transition:
      transform 0.3s ease-in-out,
      top 0.3s,
      bottom 0.3s,
      opacity 0.3s;
  }

  .nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 60px 16px;
    background-color: var(--color-bg);
    z-index: 150px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    visibility: hidden;
    translate: 0 -100%;
    transition:
      visibility 0.3s ease-in-out,
      translate 0.3s ease-in-out;
  }

  .nav--visible {
    visibility: visible;
    translate: 0;
  }

  .nav__list {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .nav__item {
    width: 100%;
  }

  .nav__link {
    display: inline-flex;
    width: 100%;
  }

  .hero__container {
    padding-top: calc(var(--header-height) + var(--spacing-60));
    padding-bottom: var(--spacing-50);
  }

  .hero__title {
    font-size: var(--spacing-40);
  }

  .hero__content {
    height: 60vh;
  }

  .plot__img {
    position: sticky;
    top: calc(var(--header-height) + 80px);
    height: 300px;
    align-self: flex-start;
  }

  .terminators__unit--left {
    top: 30%;
    right: 0;
  }

  .soundtrack__btn:hover {
    background-color: var(--color-player-btn);
    transform: translateY(-2px);
  }

  .soundtrack__btn:hover .soundtrack__icon {
    fill: rgba(255, 60, 47, 0.6);
  }

  .soundtrack__btn:active {
    background-color: #3f4850;
    transform: scale(0.95);
    filter: brightness(1.2);
    transition: transform 0.1s;
  }

  .is-playing .soundtrack__btn {
    background-color: var(--color-accent);
  }

  .is-playing .soundtrack__btn .soundtrack__icon {
    fill: var(--color-black);
  }

  .tooltip-wrapper {
    bottom: 10%;
    left: 97%;
  }

  .popup {
    left: 100%;
    transform: translateX(-100%) translateY(-6px) scaleY(0.98);
  }

  .marker:hover + .popup,
  .marker:focus + .popup {
    transform: translateX(-100%) translateY(0) scaleY(1);
  }

  .crew__wrapper {
    display: flex;
    flex-direction: column;
  }

  .cast-slide-hint {
    width: 15%;
  }

  .cast-card {
    width: 20%;
  }

  .crew__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    width: 100%;
  }

  .crew__subtitle {
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
    width: 100%;
  }

  .crew__subtitle::after {
    content: '';
    width: 100%;
    height: 1px;
    flex: 1;
    border-bottom: 2px dotted var(--color-spec);
    margin: 0 10px;
  }

  .crew__list {
    flex: 0 0 20%;
    text-align: left;
  }
}

@media (max-width: 767.98px) {
  .section-offset {
    padding-top: var(--spacing-30);
    padding-bottom: var(--spacing-30);
  }

  .section-title {
    font-size: var(--font-size-26);
  }

  .hero__container {
    padding-top: calc(var(--header-height) + var(--spacing-40));
    padding-bottom: var(--spacing-30);
  }

  .hero__title {
    font-size: 36px;
  }

  .hero__content {
    height: 40vh;
  }

  .hero__text {
    bottom: 20px;
    left: 20px;
    font-size: var(--font-size-20);
  }

  .plot__container::before {
    left: 20px;
    transform: none;
  }

  .plot__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    align-items: flex-start;
    padding-left: 40px;
  }

  .plot__content:not(:last-child) {
    margin-bottom: var(--spacing-30);
  }

  .plot__img {
    position: static;
    height: auto;
    max-height: 350px;
    margin-bottom: var(--spacing-20);
  }

  .plot__content::before {
    left: 1px;
    transform: translate(-50%, -50%);
  }

  .terminators__tabs {
    flex-direction: column;
    gap: 24px;
    border: none;
  }

  .terminators__tab {
    border: 1px solid #444;
    font-size: var(--font-size-14);
  }

  .terminators__block {
    display: block;
    min-height: auto;
  }

  .terminators__info {
    display: flex;
    flex-direction: column-reverse;
    position: static;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.5s ease,
      filter 0.5s ease,
      transform 0.5s ease,
      height 0s 0.5s;
  }

  .terminators__info.is-active {
    height: auto;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    transition:
      opacity 0.5s ease,
      filter 0.5s ease,
      transform 0.5s ease,
      height 0s;
  }

  .spec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-20);
    row-gap: var(--spacing-30);
    align-items: start;
  }

  .spec--t800 {
    width: 100%;
    padding: 0;
  }

  .spec--t1000 {
    width: 100%;
    padding: 0;
  }

  .spec__title {
    margin-bottom: 0;
    padding-top: 4px;
  }

  .spec__list {
    margin-bottom: 0;
  }

  .terminators__images {
    display: block;
    width: 100%;
    height: auto;
  }

  .terminators__unit--left,
  .terminators__unit--right {
    position: static;
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: var(--spacing-20);
  }

  .about-data,
  .about-budget,
  .about-awards,
  .about-impact {
    gap: var(--spacing-10);
  }

  .about-data__title,
  .about-budget__title,
  .about-awards__title,
  .about-impact__title {
    width: 70%;
  }

  .about-data__content,
  .about-budget__content,
  .about-awards__content,
  .about-impact__content {
    width: 100%;
  }

  .about-data,
  .about-budget,
  .about-awards,
  .about-impact {
    flex-direction: column;
  }

  .about-data__value,
  .about-budget__value,
  .about-awards__value,
  .about-impact__value {
    flex: 0 0 240px;
    text-align: right;
  }

  .soundtrack {
    flex-direction: column;
  }

  .soundtrack__descr {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }

  .soundtrack__player {
    width: 95%;
  }

  .soundtrack__controls {
    justify-content: flex-start;
  }

  .cast-slide-hint {
    width: 20%;
  }

  .cast-card {
    width: 25%;
  }
  .crew__block {
    grid-template-columns: repeat(2, 1fr);
  }

  .crew__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-30);
  }

  .crew__content {
    display: inline-block;
    flex-basis: calc(50% - var(--spacing-20));
    padding: 0;
    text-align: center;
  }

  .crew__content--operator {
    order: -1;
  }

  .crew__content--composer {
    order: -1;
  }

  .crew__subtitle {
    display: inline-block;
  }

  .crew__subtitle::after {
    content: none;
  }

  .crew__list {
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .section-offset {
    padding-top: var(--spacing-20);
    padding-bottom: var(--spacing-30);
  }

  .section-title {
    font-size: var(--font-size-20);
  }

  .logo__svg {
    width: 40px;
  }

  .logo__text {
    font-size: 8px;
  }

  .hero__container {
    padding-top: calc(var(--header-height) + var(--spacing-40));
    padding-bottom: var(--spacing-20);
  }

  .hero__title {
    font-size: var(--font-size-24);
  }

  .hero__content {
    height: 70vh;
  }

  .hero__bg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .hero__bg-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px) brightness(0.4);
    transform: scale(2.5);
    z-index: 1;
  }

  .hero__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  .hero__card picture {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: auto;
    z-index: 2;
    object-fit: contain;
  }

  .hero__text {
    position: relative;
    width: 90%;
    margin: 20px auto;
    padding-left: 15px;
    left: auto;
    right: auto;
    bottom: auto;
    z-index: 3;
    font-size: 18px;
  }

  .plot__container::before,
  .plot__content::before {
    content: none;
  }

  .plot__content {
    padding-left: 0;
  }

  .plot__img {
    aspect-ratio: 1;
    object-position: center;
  }

  .terminators__tab[aria-controls='panel-t1000'] {
    display: block;
    padding: 14px 8px;
    min-width: 0;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .terminators__text {
    font-size: var(--font-size-16);
  }

  .spec {
    grid-template-columns: 1fr;
    row-gap: var(--spacing-20);
  }

  .about__title {
    margin-bottom: var(--spacing-20);
  }

  .about-data,
  .about-budget,
  .about-awards,
  .about-impact {
    gap: var(--spacing-20);
    margin-bottom: var(--spacing-20);
    padding: 50px 10px 12px;
  }

  .about-data__load,
  .about-budget__load,
  .about-awards__load,
  .about-impact__load {
    left: 10px;
  }

  .about-data__title,
  .about-budget__title,
  .about-awards__title,
  .about-impact__title {
    width: 100%;
    margin-bottom: var(--spacing-10);
  }

  .about-data__content,
  .about-budget__content,
  .about-awards__content,
  .about-impact__content {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-data__wrapper,
  .about-budget__wrapper,
  .about-awards__wrapper,
  .about-impact__wrapper {
    flex-direction: column;
  }

  .about-data__value,
  .about-budget__value,
  .about-awards__value,
  .about-impact__value {
    flex: 0 0 0px;
    text-align: left;
    font-size: var(--font-size-16);
  }

  .about-data__text,
  .about-budget__text,
  .about-awards__text,
  .about-impact__text {
    margin-bottom: var(--spacing-8);
  }

  .about-data__dots,
  .about-budget__dots,
  .about-awards__dots,
  .about-impact__dots {
    display: none;
  }

  .about-data__dots::after,
  .about-budget__dots::after,
  .about-awards__dots::after,
  .about-impact__dots::after {
    content: none;
  }

  .soundtracks__title {
    margin-bottom: var(--spacing-20);
  }

  .soundtracks__text {
    font-size: var(--font-size-16);
    line-height: 1.5;
  }

  .soundtrack {
    padding: var(--spacing-12) var(--spacing-10);
  }

  .soundtrack__descr {
    padding-right: 0;
  }

  .soundtrack__title {
    margin-bottom: var(--spacing-20);
    font-size: var(--spacing-16);
  }

  .soundtrack__info-text {
    font-size: var(--font-size-16);
  }

  .soundtrack__info-content {
    font-size: var(--font-size-16);
  }

  .soundtrack__player {
    width: 100%;
  }

  .soundtrack__controls {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .soundtrack__progress {
    width: 100%;
    order: 1;
  }

  .soundtrack__btn {
    width: 50px;
    height: 50px;
    order: 0;
    background-color: var(--color-player-btn);
    transition: transform 0.3s ease;
  }

  .soundtrack__timeline {
    display: inline-flex;
    justify-content: flex-end;
    order: 0;
  }

  .tooltip-wrapper {
    display: none;
  }

  .cast__title {
    margin-bottom: var(--spacing-20);
  }

  .cast-card {
    width: 30%;
  }

  .drag-indicator__arrow {
    width: 20px;
    height: 20px;
    border-top-width: 2px;
    border-right-width: 2px;
  }

  .drag-indicator__text {
    font-size: 18px;
  }

  .cast-card__info {
    min-height: 60px;
    padding-top: 5px;
  }

  .cast-card__actor {
    font-size: var(--font-size-14);
  }

  .cast-card__role {
    font-size: var(--font-size-12);
  }

  .crew__title {
    margin-bottom: var(--spacing-20);
  }

  .crew__block {
    grid-template-rows: none;
    grid-template-columns: 1fr;
  }

  .crew__subtitle {
    font-size: var(--font-size-14);
  }

  .crew__item {
    font-size: var(--font-size-16);
    line-height: 1.5;
  }

  .conclusion__title {
    margin-bottom: var(--spacing-20);
  }

  .conclusion__text {
    font-size: var(--font-size-16);
    line-height: 1.5;
  }

  .footer {
    padding: var(--spacing-20) 0;
  }
}

@media (max-width: 450.98px) {
  .plot__img {
    aspect-ratio: 1.5;
  }
}

@media (max-width: 374.98px) {
  .hero__content {
    height: 50vh;
  }
}
