:root {
  --color-black: #333333;
  --color-white: #ffffff;
  --color-bg: #0b0d10;
  --color-text: #e6e6e6;
  --color-logo: #b71c1c;
  --color-title: #dedacf;
  --color-tundora: #444444;
  --color-tab: #2a2a2a;
  --color-tab-linar: #111111;
  --color-tab-active: #ff2a2a;
  --color-spec-arrow: #ff2b2b;
  --color-spec-item: rgba(255, 255, 255, 0.85);
  --color-spec: rgba(255, 255, 255, 0.6);
  --color-header-bg: rgba(11, 13, 16, 0.7);
  --color-logo-hover: rgba(214, 40, 40, 0.6);

  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;
  --font-size-32: 2rem;
  --font-size-36: 2.25rem;
  --font-size-40: 2.5rem;
  --font-size-48: 3rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --spacing-4: 0.25rem;
  --spacing-6: 0.375rem;
  --spacing-8: 0.5rem;
  --spacing-10: 0.625rem;
  --spacing-12: 0.75rem;
  --spacing-14: 0.875rem;
  --spacing-16: 1rem;
  --spacing-18: 1.125rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-30: 1.875rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-50: 3.125rem;
  --spacing-60: 3.75rem;
  --spacing-64: 4rem;
  --spacing-70: 4.375rem;
  --spacing-80: 5rem;
  --spacing-90: 5.625rem;
  --spacing-120: 7.5rem;
  --spacing-160: 10rem;
}
